name: AQI Automation

on:
  schedule:
    # Run data pipeline every 1 hour
    - cron: '0 * * * *'
    # Run training pipeline every day at midnight UTC
    - cron: '0 0 * * *'
  workflow_dispatch: # Allow manual trigger

jobs:
  hourly_data_pipeline:
    if: github.event_name == 'schedule' && github.event.schedule == '0 * * * *'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: pip install -r Desktop/AQI/requirements.txt


      - name: Run hourly data pipeline
        run: |
          cd Desktop/AQI/aqi_feature_repo/feature_repo
          python automate_pipeline_khi.py

  daily_train_pipeline:
    if: github.event_name == 'schedule' && github.event.schedule == '0 0 * * *'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: pip install -r Desktop/AQI/requirements.txt


      - name: Run train pipeline
        run: |
          cd Desktop/AQI/aqi_feature_repo/feature_repo/model_train
          python train_pipeline.py
